html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
html {
  font-size: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

.clear::after,
.clear::before {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 144rem;
  height: 338.7rem;
  margin: 0 auto;
  position: relative;
}

#wrapper {
  width: 192rem;
  margin: 0 auto;
  transform: scale(0.75);
  transform-origin: 0 0;
  overflow: hidden;
}
#wrapper .inner {
  width: 120rem;
  margin: 0 auto;
  position: relative;
}
#wrapper main #main-section {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 17.5rem;
  padding-bottom: 4rem;
}
#wrapper main #main-section h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 63rem;
}
#wrapper main #main-section #video-section {
  text-align: center;
}
#wrapper main #main-section #video-section > img {
  margin-bottom: 4.5rem;
}
#wrapper main #main-section #video-section .video-area {
  width: 80.3rem;
  height: 51.4rem;
  background-color: #313131;
  margin: 0 auto;
}
#wrapper main #main-section #list-section {
  padding-top: 24rem;
  text-align: center;
}
#wrapper main #main-section #list-section > img {
  margin-bottom: 4rem;
}
#wrapper main #main-section #list-section ul {
  width: 100%;
}
#wrapper main #main-section #list-section ul li {
  width: 100%;
}
#wrapper main #main-section #list-section ul li img {
  float: left;
}
#wrapper main #main-section #list-section ul li:nth-child(2n) img {
  float: right;
}
#wrapper main #main-section #list-section ul li::before, #wrapper main #main-section #list-section ul li::after {
  content: "";
  display: block;
  clear: both;
}
#wrapper main #main-section #list-section ul li:not(:last-child) {
  margin-bottom: 8rem;
}
#wrapper main #customer-section {
  background-color: #ffe5e5;
  text-align: center;
  padding: 12rem 0;
}
#wrapper footer {
  padding: 5.5rem 0;
  background-color: #3a3a3a;
}
#wrapper footer .inner {
  width: 151.6rem;
  padding-left: 3.5rem;
}
#wrapper footer .inner h1 {
  margin-bottom: 2.2rem;
}
#wrapper footer .inner p {
  color: #a1a1a1;
  font-size: 2rem;
  line-height: 3.2rem;
}
#wrapper footer .inner p b {
  color: #ff8643;
}

/*# sourceMappingURL=main.css.map */
